@page "/"
@using MauiBlazorAutoB2bApp.Shared.Services
@using MauiBlazorAutoB2bApp.Shared.Components
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

<div class="nav-item px-3">
    <Accelerometer />
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
