@using MauiBlazorAutoB2cApp.Shared.Services
@using Microsoft.Maui.Devices.Sensors
@inject IAccelerometerService AccelerometerService

<h3>Accelerometer</h3>

@if(AccelerometerService.IsSupported)
{
    <p>X: @X</p>
    <p>Y: @Y</p>
    <p>Z: @Z</p>

    <p>Accelerometer is supported on this device.</p>
    <button @onclick="Start">Start</button>
    <button @onclick="Stop">Stop</button>
}
else
{
    <p>Accelerometer is not supported on this device.</p>
}

@code {
    private double X, Y, Z;

    protected override void OnInitialized()
    {
        AccelerometerService.OnReadingChanged += OnAccelerometerChanged;
    }

    private void Start() => AccelerometerService.Start();
    private void Stop() => AccelerometerService.Stop();

    private void OnAccelerometerChanged(object? sender, AccelerometerChangedEventArgs e)
    {
        var data = e.Reading;
        X = data.Acceleration.X;
        Y = data.Acceleration.Y;
        Z = data.Acceleration.Z;

        InvokeAsync(StateHasChanged); // Ensure UI updates on sensor thread
    }

    public void Dispose()
    {
        AccelerometerService.OnReadingChanged -= OnAccelerometerChanged;
    }
}